*,form{font-size:12px;font-family:Arial,Helvetica,sans-serif;padding:0;margin:0;line-height:18px}
a:link,a:visited{color:#0070BC;text-decoration:none;font-size:13px;}a:hover{color:#039;text-decoration:underline;font-size:13px;}

.a14:link,.a14:visited{color:#0070BC;text-decoration:none;font-size:14px;} 

.a14:hover{color:#039;text-decoration:underline;font-size:14px;}
.number:link,.number:visited{font-family:Arial;font-size:18px;color:#0070BC}
.category-text:link{font-size:16px;color:#0070BC}
.category-text:visited{font-size:16px;color:#999}
.category-text:hover{font-size:16px;color:#0070BC;text-decoration:underline;}

.div_listtitle{width:178px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:center;}
.listtitle:link{font-size:12px;color:#0070BC;text-decoration:none;}
.listtitle:visited{font-size:12px;color:#999;text-decoration:none;}
.listtitle:hover{font-size:12px;color:#0070BC;text-decoration:underline;}


.searchheader{color:#333}#toplinks{position:absolute;right:16px;top:6px}
#iconkusearch{text-align:center}#iconkusearch img{margin:32px auto 5px}#iconkusearch h2{margin:10px auto;font-size:14px;color:#666}
#searchform{margin:0;padding:0}
.inputfield{font-size:14px;padding:2px 0 3px 5px;padding:2px 0 3px 5px \9;*padding-top:-5px 0 4px 5px;vertical-align:middle;font-weight:bolder;color:Green;width:568px;border-color:#A1A1A1 #C1C1C1 #D1D1D1;border-style:solid;border-width:1px;-moz-border-radius-bottomleft:4px;-moz-border-radius-bottomright:4px;-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;height:23px;line-height:23px;margin:0}

.inputfield2{font-size:14px;padding:2px 0 3px 5px;padding:2px 0 3px 5px \9;*padding-top:-5px 0 4px 5px;vertical-align:middle;font-weight:bolder;color:Green;width:42%;border-color:#A1A1A1 #C1C1C1 #D1D1D1;border-style:solid;border-width:1px;-moz-border-radius-bottomleft:4px;-moz-border-radius-bottomright:4px;-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;height:23px;line-height:23px;margin:0}

#noresult{font-size:13px;color:Orange;margin:5px auto;text-align:center;font-weight:700}
#searchsubmit{background-color:transparent;background-image:url("/images/search.gif");border:medium none;height:30px;width:68px;padding:0;margin-left:5px;vertical-align:middle}
h3{margin-bottom:5px;margin-top:25px;font-size:13px;}div.clearboth{clear:both;height:0;overflow:hidden}
#searchtable{margin:24px auto 1px;border-top:1px solid #CCD8EA;padding-left:16px}
#searchlisttable{margin:10px auto 1px;padding-left:0;background-color:#fff}
#searchresults{margin:15px auto 1px}
#searcheader{font-size:12px;font-weight:700;margin:0;padding:15px 0 0}

h4{font-size:14px;font-weight:700;margin-bottom:7px;margin-top:5px;margin-left:16px;line-height:14px;}

div.pageslist{float:right;margin:15px 0 5px;width:30%;text-align:right}
#iconlist{margin:1px 16px;background-color:fff;margin-right:1px;}
.downloadlinks{height:20px;width:100%;position:absolute;left:0;top:0}.size{color:#ccc;display:block;font-size:10px;padding:4px 7px;float:right}
.downloadlinks a{color:#999;display:block;font-size:10px;padding:4px 7px;float:left}
.downloadlinks a:hover,.infolink:hover{background-color:#1f75cc;color:#fff!important;text-decoration:none!important}

.icon{-moz-border-radius-bottomleft:3px;-moz-border-radius-bottomright:3px;-moz-border-radius-topleft:3px;-moz-border-radius-topright:3px;-moz-box-shadow:0 1px 2px #ddd;background-color:#FFF;border:1px solid #CCD8EA;float:left;margin:0 9px 10px 0;text-align:center;height:185px;width:188px;position:relative}

a img{border:medium none}img.thumb{-ms-interpolation-mode:bicubic}
#breadcrumbs{background-color:#F0F3F8;border-top:1px solid #CCD8EA;border-bottom:1px solid #CCD8EA;padding:15px;margin:0 auto;padding-left:16px;font-size:13px}

.h1text{color:green;font-size:14px;font-weight:bold;}

.icondetailstable{width:100%}
.icondetailstabletd{padding:20px 25px 5px}.icondetails td.icondetailstdicon{text-align:center;width:240px;vertical-align:top;padding-left:15px;}
.icondetails td.icondetailstdicon div{background-color:#F0F3F8;border:1px solid #CCD8EA;height:210px;width:210px}
.icontitle{font-size:20px;line-height:50px}.icondetails td.icondetailstdicon div img{margin-top:36px}
a.blocklink{background-color:#1f75cc;color:#fff;padding:5px 10px;font-size:110%;display:block;float:left;margin-right:9px;-moz-border-radius:5px;-webkit-border-radius:5px}
a.blocklink:hover{background-color:#2f85dc}a.blocklink:active{background-color:#333}

h1{margin:3px 10px 15px 0px;font-size:26px;font-weight:400;}


.icondetails td.iconinfotable{width:360px}
.iconinfotable td{width:355px;display:table-cell;padding:1px;text-align:inherit;vertical-align:inherit;}
.iconinfotable p{border-bottom:1px solid #efefef;padding-bottom:8px;margin-bottom:8px;}

.icondetails td.icondetailstdgrey{width:336px;vertical-align:top}.contentt h1{font-size:25px;padding:20px;padding-left:1px}
.paging{height:28px;font-size:12px;float:right}.paging a,.paging span{border:1px solid #DEE6EB;font-weight:700;display:inline-block;padding:3px 10px;margin:0 1px;background:#fff;line-height:20px;height:20px;text-decoration:none;-moz-border-radius:2px;-webkit-border-radius:2px}
.paging a:hover{border:1px solid #6A9CE8;background-color:#6A9CE8;color:#fff}
.paging .clicked{color:#fff;background:#95071b}.paging .next,.paging .prev{font-family:ו;background:#fff url('img/pages.gif') no-repeat;height:20px}
.paging .next{background-position:right -16px;padding-right:10px}.paging .prev{background-position:left 4px;padding-left:10px}
.paging span{margin:0 3px;color:#fff;background-color:#666}.suggest{list-style:none;border:1px solid #ddd;background-color:#fff;padding-left:-5px;margin:0}
.suggest li{padding:3px 2px}.suggest li a{padding:3px 2px;position:relative;color:#333;display:block;text-decoration:none;height:20px}
.suggest li a span{color:green;position:absolute;right:3px;top:4px;cursor:pointer}
.suggest li a:hover,.suggest li.selected a{color:#fff;text-decoration:none;padding-left:15px;background:#39F url(img/menu_arrow.gif) no-repeat scroll left center}
a.dropdownlist{cursor:default;text-decoration:none}a.dropdownlist:hover{background:transparent}
a.dropdownlist input{width:40px;font-size:12px;height:28px;line-height:28px;cursor:default;padding-left:4px;text-align:left;border:1px solid #b3c7e1;border-right:0;background:#eaf2fb;font-family:Tahoma,Verdana,Arial,Helvetica;float:left;margin-top:0;*margin-top:2px}
a.dropdownlist div{width:14px;height:30px;background:url(img/button_bg2.png) -66px 0;margin-right:7px;float:left;margin-top:0;*margin-top:2px}
a.dropdownlist:hover input,a.selected input{background:#FFF}a.dropdownlist:hover div,a.selected div{background-position:-66px -30px}
div.options{font:normal 12px Tahoma;overflow:hidden;border:1px solid gray;background-color:#fff;z-index:1}
div.options a.item{position:relative;z-index:2;cursor:default;display:block;line-height:15px;height:15px;text-decoration:none;color:gray;border:1px solid white;padding:3px 2px 3px 15px}
div.options a.selected{background:#dfedf5 url(img/menu_arrow.gif) no-repeat scroll left center}
div.options a:hover,div.options a.current{background-color:#dfedf5;border-color:#a8d8eb}
div.hideddl a.dropdownlist,div.hideddl select#type{visibility:hidden}.ht28{line-height:28px}

.ad728{padding:10px 0 10px 130px}
.ad7282{padding:10px 0 15px 130px}

.adseacrch{padding:12px 5px 13px 1px;}

.adblock{margin-top:1px;}

.icondetailstdgrey{width:330px;padding:0px 10px 0px 0px;vertical-align:top;}

.ad200{float:left;margin:0px 5px 5px 5x;}
.ad2002{float:left;margin:0px 5px 5px 0px;width:202px;height:202px;overflow:hidden;}
.ad180{float:left;padding:0px 5px 13px 0x;height:180px;}
.ad468-pt{float:right;margin-top:6px;margin-left:16px;margin-right:20px;}
.ad468-detail{margin-left:16px;margin-right:20px;display: inline-block;}



.rightad{display: inline-table;border: none;height: 354px;margin:0px 5px 0px 5x;
padding: 0;position: relative;visibility: visible;width: 336px;float: right;width: 336px!important;height: 354px!important;padding-top: 40px;margin-top:0px;: margin-left:16px;margin-bottom:0px !important;margin-right:4%;*margin-right:40px;}







#footcss{margin:5px auto 0;padding:20px 0 0 16px;border-top:1px solid #CCD8EA;line-height:24px;text-align:left;background-color:#F0F3F8}
.ad468{padding-left:15px;float:right}div.message{margin-top:10px;padding:20px 40px;margin-bottom:20px}
div.message.warning{background-color:#F0F3F8;border:1px solid #CCD8EA;margin:50px 50px 30px!important}


#indexfoot1{}

#indexfoot{border-top: 1px solid #EBEBEB;bottom: 0;padding-top: 8px;position: absolute;
width: 100%;background: #F4F4F4;width: 100%;height: 33px;}

#indexfoot a {

color: #666;
margin: 2px 10px;
display: inline-block;
}


#f11{float: right;text-align: right;width: 100%;padding-right: 20px;}
#f11c,#f11l,#f11r{float: right;}
#f11c img{margin:0px;}



.tt00{line-height:48px;font-size:14px; padding-top:0px;padding-right:0px;}



div.warningcloud {background-color: #F0F3F8;border: 1px solid #CCD8EA;width:76%;padding:30px;margin: 40px auto;}


a.lv0{font-size:12px;color:#CCC}a.lv1{font-size:13px;color:#909484}a.lv2{font-size:15px;color:#CBE681}
a.lv3{font-size:18px;color:#B4E334}a.lv4{font-size:22px;color:#99CC0C}a.lv5{font-size:26px;color:#65850D}
a.lv6{font-size:30px;color:#526E07}a.lv7{font-size:36px;color:#E8D633}
